*{
    margin: 3px;
    padding: 3px;
    zoom: 100%;
}
body{
    background-color: #242424;
}

#page{
    width: 1800px;
    min-height: 1080px;
    border-style: none;
    margin: auto;
    
}

#banner{
    width: 1800px;
    height: 100px;
    border-style: none;
    border-width: 1px;
    background-color: deepskyblue;
    margin: auto; 
}

#logo{
    width: auto;
    height: 100x;
    border-style: none;
    border-width: 1px;
    position: relative;
    top: 10px;
    left: 10px;
    float: left;

}

#social{
    width: 1800x;
    height: 40px;
    border-style: none;
    border-width: 1px;
    position: relative;
    background-color: #00bfff;
    top: 40px;
    right: 10px;

    float: right;
}

#icon{
    float: right;
    margin-left: 10px;
    width: 40px;
}


.Sertifikalarım{
    width: 180px;
    height: auto;
    padding: 7px;
}

.E-mail{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: wheat;
    margin: 10px;
    padding-top: 10px;
}

#mainmenu{
    width: 1800px;
    height: 80px;
    border-style: none;
    border-width: 10px;
    border-color: #000000;
    background-color:   #2ec7fa94;
    margin: auto; 
}

#form{
    color: wheat;
}

.input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightslategrey;
    line-height: 20px;
    font-size: 16px; 
    width: 350px;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: #333333;
    border-style: solid;
    border-width: 2px;
}

.textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightslategrey;
    margin-top: 10px;
    border-color: #1E1E1E;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 350px;
    height: 100px;
    font-size: 16px; 
}

.button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    background-color: #1E1E1E;
    color: #007ACC;
    border-color: #007ACC;
    line-height: 35px;
    font-size: 16px; 
}
.button:hover{
    background-color: #1E1E1E;
    color: limegreen;
    border-color: limegreen;
    line-height: 35px;
    font-size: 16px; 
}


#mainmenu ul{
    list-style-type: none;
}

#mainmenu ul li{
    width: 200px;
    border-style: solid;
    border-width: 4px;
    border-radius: 300px;
    border-color: #333333;
    background-color: #00bfff;
    float: left;
    padding: 10px;
    margin-left: 4px;
    margin-bottom: 5px;
    position: relative;
    top: 5px;
    text-align: center;
}

#mainmenu ul a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 16 px;
}

#mainmenu ul a:link{
    color: #333333;
}

#mainmenu ul
a:visited{
    color: #333333;
}

#mainmenu ul a:hover{
    color: white;
    text-decoration: underline;
}

#mainmenu ul a:active{
    color: green;
}


#artcl{
    width: 1800px;
    height: 890px;
    margin: 0;

    background-image: url("images/background.gif");
    background-color: #1E1E1E; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px;
    border-style: none;
    border-width: 1px;
    color: red;
    float: left;
}

#artcl a:link{
    color: white;
}

#artcl a:visited{
    color: white;
}

#artcl a:hover{
    color: green;
    text-decoration: underline;
}

#artcl a:active{
    color: green;
}
#artcl2{
    background-color: #242424;
    border-radius: 5px;
    border-width: 100px;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
}
#mainmenulink{
    color: black;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.image{
    float: left;
    width: 10px;
    margin: 5px;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    margin: 10px;
}

.h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: wheat;
    font-weight: bolder;
    margin: 10px;
    margin-bottom: 20px;
}

.h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #00bfff;
    font-weight: bolder;
    margin: 10px;
    margin-bottom: 5px;
    padding-left: 30px;
    padding-right: 200px;
    padding-bottom: 30px;
    padding-top: 40px;
    text-align: right;
}
 .tabletext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: right;
    color: #00bfff98;
    font-weight: bolder;
    margin: 10px;
    margin-bottom: 5px;
    padding-left: 30px;
    padding-right: 200px;
    padding-bottom: 50px;
}
.Table{

}
.Trow{}
#ben{
    max-width: 240px;
    margin-right: 100px;
    background-image: url("bne.png");
    position: absolute;
    margin-left: 900px;
    margin-top: 40px;
    border-color: #1E1E1E;
    border-style: solid;
    border-radius: 5px;
    border-width: 8px   
}
#rocco{
    max-width: 480px;
    margin-right: 100px;
    background-image: url("rocco.png");
    position: absolute;
    margin-left: 1200px;
    margin-top: 40px;
    border-color: #1E1E1E;
    border-style: solid;
    border-radius: 5px;
    border-width: 8px   

}

#botmenu{
    width: 1800px;
    height: 30px;
    border-style: none;
    border-width: 1px;
    background-color: #333333;
    float: none;
    text-align: center;
    color: white;
    font-weight: bolder;
    line-height: 10px;

}

#botmenu a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: wheat;
    padding: 5px;
}

#botmenu ul a:link{
    color: wheat;
}

#botmenu ul a:visited{
    color: brown;
}

#botmenu ul a:hover{
    color: white;
    text-decoration: underline;
}

#botmenu ul a:active{
    color: red;
}